.backdrop {
  inset: 0;
  display: grid;
  place-items: center;
  position: absolute;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  animation: fade 0.3s ease-in both;
}

.dialog {
  padding: 2rem;
  background-color: var(--white);
  border: 2px solid var(--gray);
  text-align: center;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
